public-hoist-pattern[]=*@heroui/*
public-hoist-pattern[]=@typescript-eslint/eslint-plugin
public-hoist-pattern[]=@typescript-eslint/parser
public-hoist-pattern[]=eslint
public-hoist-pattern[]=eslint-config-prettier
public-hoist-pattern[]=eslint-config-standard
public-hoist-pattern[]=eslint-plugin-import
public-hoist-pattern[]=eslint-plugin-import-helpers
public-hoist-pattern[]=eslint-plugin-prettier
public-hoist-pattern[]=prettier
public-hoist-pattern[]=typescript
public-hoist-pattern[]=prettier-plugin-tailwindcss